.menu,
.submenu,
.menuItem {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu,
.submenu {
  background-color: gray;
  color: white;
}

.menuItem {
  display: inline-block;
  position: relative;
}

.submenu .menuItem {
  width: 100%;
}

.menuItem > a {
  display: block;
  font-family: sans-serif;
  text-decoration: none;
  padding: 20px;
  color: lightgray;
}

.menuItem > a:hover,
.menuItem:focus > a {
  color: white;
  background-color: black;
}

.menuItem[aria-haspopup] > a::after {
  content: ' \25BE';
  display: 'inline-block';
  line-height: 1em;
}

.submenu .menuItem[aria-haspopup] > a::after {
  content: ' \25B8'
}

.menuItem:hover > .submenu,
.submenu[aria-hidden="false"] {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.submenu .submenu {
  top: 0;
  left: 100%;
}