.menu {
  background-color: #555;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin-bottom: 100px;
}

.mainMenu,
.submenu,
.menuItem {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  margin: 0;
  padding: 0;
}

.menuItem > a {
  background-color: gray;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
}

.menuItem > a:hover,
.menuItem > a:focus {
  background-color: darkgray;
  color: white;
}

.menuItem a:focus {
  outline: 1px solid black;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.submenu .submenu {
  top: 0;
  left: 100%;
}

.menuItem {
  display: inline-block;
  position: relative;
}

.submenu .menuItem {
  display: block;
  width: 100%;
  white-space: nowrap;
}

.submenu[aria-hidden="false"] {
  display: block;
}

.menuItem > a[aria-haspopup="true"]::after {
  content: ' \25BE';
  line-height: 1em;
}

.submenu .menuItem > a[aria-haspopup="true"]::after {
  content: ' \25B8';
}

.mobileToggler,
.mobileToggler:active,
.mobileToggler:hover,
.mobileToggler:visited {
  display: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid;
  margin-bottom: 20px;
}

.mobileToggler:focus {
  outline: 2px solid black;
}

@media (max-width: 800px) {

  .mobileToggler,
  .mobileToggler:active,
  .mobileToggler:hover,
  .mobileToggler:visited {
    display: inline-block;
  }

  .mobileToggler[aria-expanded="true"] {
    background-color: white;
    color: black;
  }

  .mainMenu {
    display: none;
  }

  .mobileToggler.toggled + .mainMenu,
  .mainMenu[aria-hidden="false"] {
    display: block;
  }

  .menuItem {
    display: block;
    width: 33%;
  }

  .menuItem > a[aria-haspopup="true"]::after {
    content: ' \25B8';
  }

  .submenu {
    top: 0;
    left: 100%;
  }

}
